.horse{
  &-racing{
    width: 100%;
    display: flex;
  }
}
.game-track{
  &__content--lane{
    display: flex;
    align-items: center;
    background: #42b983;
    width: 20px;
    justify-content: center;
    color: white;
    border: 1px solid white;
  }
  &__content--race{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    border-right: 5px solid red;
    width: 500px;
    height: 60px;
    position: relative;
  }
}
