.horse-list{
  width: 95%;
  &__title{
    text-align: left;
  }
  &__content{
     &-header{
       display: flex;
       background: gray;
       font-size: 1em;
           padding: 1em 0;
       div{
         flex: 0 0 33%;
       }
     }
    &-body{
      border: 1px solid gray;
      font-size: 1em;
          padding: 1em 0;
    }
  }
}
